body
{
    background-color: white;
    font-size: 12px;
    padding: 0;
    margin: 0;
    display: inline-block;
}

#Side
{
    width: 25%;
    float: left;
    position: relative;
    top: 50px;
    left: 50px;
}

#Content
{
    width: 60%;
    overflow:hidden;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}

.entries-table
{
   font-size: 12px;
   border-spacing: 0;
}

.entrytitle
{
    text-decoration: underline;
}

p 
{ 
    line-height: 140%;
}

th 
{
    border-bottom: 1px solid black;
    height: 50px;
    color: #1a324c;
    text-transform: uppercase;
}

th, td 
{ 
    text-align: center;
    padding: 5px 0 5px 0px;
}

td:first-child
{
    padding-left: 10px;
}

td:last-child
{
    padding: 0px 25px 0px 25px;;
}

tr:nth-child(even)
{
    background: rgb(220,220,220);
}

.button a {
    padding: 10px;
    background: rgb(220,220,220);
    border: 1px solid black;
    text-decoration: none;
    color: black;
}